    __pycache__/
    *.pyc
    .env
    /manifests/
    /tests/temp_*/
    build/
    dist/
    *.egg-info

# Local database
chroma_db/
*.sqlite

# Virtual environment
.venv/

# Test artifacts
.pytest_cache/